/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 25, 2024, 11:40:33 PM
    Author     : d
*/
.hover-scale:hover {
    transform: scale(1.05);
}
.book-category:hover {
    text-decoration: underline;
}
.category-book:hover {
    text-decoration: underline;
    background-color: red;
    color: blue;
}
